:root {
    --block-color: skyblue;
    --block-padding: 5px;
    --block-font-family: proportional;
    --block-font-size: 2em;
}

@font-face {
    font-family: "proportional";
    src: url("../fonts/proportional.otf");
}

.block-f0040::before {
    content: '\f0040';
    color: var(--block-color);
    padding: var(--block-padding);
    font-size: var(--block-font-size);
    font-family: var(--block-font-family);
}

.block-f0041::before {
    content: '\f0041';
    color: var(--block-color);
    padding: var(--block-padding);
    font-size: var(--block-font-size);
    font-family: var(--block-font-family);
}

.block-f0042::before {
    content: '\f0042';
    color: var(--block-color);
    padding: var(--block-padding);
    font-size: var(--block-font-size);
    font-family: var(--block-font-family);
}

.block-f0043::before {
    content: '\f0043';
    color: var(--block-color);
    padding: var(--block-padding);
    font-size: var(--block-font-size);
    font-family: var(--block-font-family);
}

.block-f0044::before {
    content: '\f0044';
    color: var(--block-color);
    padding: var(--block-padding);
    font-size: var(--block-font-size);
    font-family: var(--block-font-family);
}

.block-f0045::before {
    content: '\f0045';
    color: var(--block-color);
    padding: var(--block-padding);
    font-size: var(--block-font-size);
    font-family: var(--block-font-family);
}

.block-f0046::before {
    content: '\f0046';
    color: var(--block-color);
    padding: var(--block-padding);
    font-size: var(--block-font-size);
    font-family: var(--block-font-family);
}

.block-f0047::before {
    content: '\f0047';
    color: var(--block-color);
    padding: var(--block-padding);
    font-size: var(--block-font-size);
    font-family: var(--block-font-family);
}

.block-f0048::before {
    content: '\f0048';
    color: var(--block-color);
    padding: var(--block-padding);
    font-size: var(--block-font-size);
    font-family: var(--block-font-family);
}

.block-f0049::before {
    content: '\f0049';
    color: var(--block-color);
    padding: var(--block-padding);
    font-size: var(--block-font-size);
    font-family: var(--block-font-family);
}

.block-f004a::before {
    content: '\f004a';
    color: var(--block-color);
    padding: var(--block-padding);
    font-size: var(--block-font-size);
    font-family: var(--block-font-family);
}

.block-f004b::before {
    content: '\f004b';
    color: var(--block-color);
    padding: var(--block-padding);
    font-size: var(--block-font-size);
    font-family: var(--block-font-family);
}

.block-f004c::before {
    content: '\f004c';
    color: var(--block-color);
    padding: var(--block-padding);
    font-size: var(--block-font-size);
    font-family: var(--block-font-family);
}

.block-f004d::before {
    content: '\f004d';
    color: var(--block-color);
    padding: var(--block-padding);
    font-size: var(--block-font-size);
    font-family: var(--block-font-family);
}

.block-f004e::before {
    content: '\f004e';
    color: var(--block-color);
    padding: var(--block-padding);
    font-size: var(--block-font-size);
    font-family: var(--block-font-family);
}

.block-f004f::before {
    content: '\f004f';
    color: var(--block-color);
    padding: var(--block-padding);
    font-size: var(--block-font-size);
    font-family: var(--block-font-family);
}

.block-f0050::before {
    content: '\f0050';
    color: var(--block-color);
    padding: var(--block-padding);
    font-size: var(--block-font-size);
    font-family: var(--block-font-family);
}

.block-f0051::before {
    content: '\f0051';
    color: var(--block-color);
    padding: var(--block-padding);
    font-size: var(--block-font-size);
    font-family: var(--block-font-family);
}

.block-f0052::before {
    content: '\f0052';
    color: var(--block-color);
    padding: var(--block-padding);
    font-size: var(--block-font-size);
    font-family: var(--block-font-family);
}

.block-f0053::before {
    content: '\f0053';
    color: var(--block-color);
    padding: var(--block-padding);
    font-size: var(--block-font-size);
    font-family: var(--block-font-family);
}

.block-f0054::before {
    content: '\f0054';
    color: var(--block-color);
    padding: var(--block-padding);
    font-size: var(--block-font-size);
    font-family: var(--block-font-family);
}

.block-f0055::before {
    content: '\f0055';
    color: var(--block-color);
    padding: var(--block-padding);
    font-size: var(--block-font-size);
    font-family: var(--block-font-family);
}

.block-f0056::before {
    content: '\f0056';
    color: var(--block-color);
    padding: var(--block-padding);
    font-size: var(--block-font-size);
    font-family: var(--block-font-family);
}

.block-f0057::before {
    content: '\f0057';
    color: var(--block-color);
    padding: var(--block-padding);
    font-size: var(--block-font-size);
    font-family: var(--block-font-family);
}

.block-f0058::before {
    content: '\f0058';
    color: var(--block-color);
    padding: var(--block-padding);
    font-size: var(--block-font-size);
    font-family: var(--block-font-family);
}

.block-f0059::before {
    content: '\f0059';
    color: var(--block-color);
    padding: var(--block-padding);
    font-size: var(--block-font-size);
    font-family: var(--block-font-family);
}

.block-f005a::before {
    content: '\f005a';
    color: var(--block-color);
    padding: var(--block-padding);
    font-size: var(--block-font-size);
    font-family: var(--block-font-family);
}

.block-f005b::before {
    content: '\f005b';
    color: var(--block-color);
    padding: var(--block-padding);
    font-size: var(--block-font-size);
    font-family: var(--block-font-family);
}

.block-f005c::before {
    content: '\f005c';
    color: var(--block-color);
    padding: var(--block-padding);
    font-size: var(--block-font-size);
    font-family: var(--block-font-family);
}